[2014-09-16 03:04] stephanemaarek opened #40 "Adding     compile 'com.strongloop:loopback-android:1.+'  creates error"
Adding     compile 'com.strongloop:loopback-android:1.+' 
as a dependency creates an error on my gradle:

Error:Module version com.loopj.android:android-async-http:1.4.3 depends on libraries but is not a library itself

[2014-09-18 04:33] ghost opened #41 "Documentation throws error for User authentification"
Using latest Android Studio.
Using this documentation:
http://docs.strongloop.com/display/LB/Android+SDK

Section Users and authentication

This code:

UserRepository<User> userRepo = restAdapter.createRepository(UserRepository<User>.class);

userRepo.loginUser("user@example.com", "password",
    new UserRepository<User>.LoginCallback() {
        @Override
        public void onSuccess(AccessToken

[2014-09-18 23:34] #41 closed, assigned to nobody

[2014-09-25 17:59] bajtos opened #42 "Update build.gradle to Android Studio Beta"
Update the build to the latest Android Studio version. There were breaking changes introduced in newer versions.

[2014-09-25 18:01] bajtos opened #43 "Publish a new version to Maven Central under the new name"
- The latest version in Maven Central is `1.2.0`, while the latest git tag is `1.3.0`.
- The project name has changed to `loopback-sdk-android` in the meantime.
- API docs shows version 1.4.1 in the menu and 1.3.1-SNAPSHOT in the content.

A new version release will fix all three issues in one go.

Once the new version is released, we need to update the Confluence documentation too ([link](http://

[2014-09-25 18:32] bajtos opened #44 "Fix failing unit-tests"
The unit-tests in the current master HEAD are failing. They were still passing in 353014c. I suspect the problem is caused by @raymondfeng changes made on July 01-02 and/or changes made in loopback-component-storage.

[2014-09-25 18:33] #42 closed, assigned to bajtos

[2014-10-16 23:50] crandmck opened #46 "How to check if an installation exists"
From https://groups.google.com/forum/#!topic/loopbackjs/Rz4kyjp_rq0/discussion.

Looking at the LocalInstallation class in the loopback-android repo, there is a save method but not really any others that interface with the loopback API AFAIK.  I'm interested in a check exists method (/api/installations/{id}/exists).  In particular, I'd like to have it so I can keep track of users who download an a

[2014-10-27 07:48] #44 closed, assigned to bajtos

[2014-10-30 18:37] #46 closed, assigned to crandmck

[2014-11-05 00:56] #43 closed, assigned to cgole

[2014-11-12 22:44] rymate1234 opened #49 "Authorize the client using OAuth (e.g. Google account)"
Am I right in thinking that there's currently no support for using Google account sign in with the android loopback app sdk? There doesn't appear to be any reference for support within the documentation http://docs.strongloop.com/display/public/LB/Android+SDK.

Is this something I'll have to implement myself? If so how would I go about doing so?

[2014-11-16 15:16] PuKoren opened #50 "Android minimum SDK version: 8 or 14 ?"
Hello,

In the AndroidManifest.xml, minimum SDK version is specified to be 8:
https://github.com/strongloop/loopback-sdk-android/blob/master/src/main/AndroidManifest.xml

But in the build.gradle file, minSdkVersion is set to 14:
https://github.com/strongloop/loopback-sdk-android/blob/master/build.gradle

Our project needs to be API 8 compatible to target a large number of devices but when includin

[2014-11-18 16:02] #50 closed, assigned to nobody

[2014-11-21 18:33] paytheo opened #52 "Issue with UserRepository.loginuser"
Hi there, I have a User model as well as a User Repository set up however when i call the login feature the onError is always called with the message "Expecting a JSON object". Here is the code:

[code]

Here is the UserRepository (extended from the strongloop UserRepository)

[code]

If you could shed some help as to what I am doing wrong or missing I would really appreciate it.

[2014-11-26 14:20] jshohel opened #53 "Describe how to invoke a custom method, include an example"
It will be nice to have a more explaination of "how to invoke a custom method from Android". Explaining what is happening on each line for better understanding.

Also, it will be really helpful if runnable runtrip example is added with other examples.

NOTE: By round trip i mean "Android---> Loopback --->Android" trip.

The history of creating this issue can be found here -

http://stackoverflow.c

[2014-11-29 13:31] nullEuro opened #54 "Get validation errors from server"
I want to register a user in my application via `user.save`. The data is then validated by the server (especially the uniqueness of the username). If the user inputs invalid data `VoidCallback.onError` gets called with the exception: `org.apache.http.client.HttpResponseException: Unprocessable Entity`.

The response body contains Loopbacks `error.details.codes` which I want to examine in the error

[2014-12-03 12:54] newaz opened #55 "android-async-http 1.4.5+ not supported"
Hi,
I am having one issue while using gradle dependencies. if I use,
`compile 'com.strongloop:loopback-sdk-android:1+'` (or 1.5.x to be specific) it builds but it fails when the app tries to save a model:

[code]

I guess it was a mismacth of loopj version. so I removed loopj `1.4.5` from sdk dependency and used `1.4.4` as a seperate dependency.

[code]

**And no errors anymore.** My android studi

[2014-12-05 19:22] bajtos opened #56 "Code cleanup"
See https://github.com/loopj/android-async-http/issues/751

1) We now support HEAD requests,
https://github.com/strongloop/loopback-sdk-android/blob/4587dd82946c6a6647b60bd89ca74ad4ca66a481/src/main/java/com/strongloop/android/remoting/adapters/RestAdapter.java#L303

2) Your BinaryHandler and CallbackHandler override specific methods, check if you're overriding the ones you want (there are few var

[2014-12-12 12:00] bajtos opened #57 "Model (PersistedModel) should implement all DAO methods"
At the moment, the `ModelRepository` class implements only a subset of methods provided by PersistedModel on the server.

Most notably it is not possible to execute `find` with a custom filter.

We should improve `ModelRepository` and include all built-in methods OOTB.

Related: https://groups.google.com/forum/#!topic/loopbackjs/1xHq5vFRayk

[2014-12-15 09:30] bajtos opened #58 "Fix docs for UserRepository"
See the following mailing-list thread:

https://groups.google.com/forum/#!topic/loopbackjs/euQYRSn-KbY

It is not possible to use `UserRepository<User>` directly, users always have to create a subclass.

[2014-12-16 06:25] fitbeast opened #59 "Add support for SNI"
Seems like SNI is getting more popular, but the loopj async http lib used in the sdk [does not support SNI](https://github.com/loopj/android-async-http/issues/224) yet. The [square/okhttp](https://github.com/square/okhttp) project looks like it supports SNI and has an async interface. It also attempts to implement the [apache httpclient interface](https://github.com/square/okhttp/tree/master/okhtt

[2014-12-18 18:11] kumarnareshs opened #60 "Update loopj library"
Please update loopj jar to 1.4.6 version. CallBack is not working in 1.4.4(which used here)

[2014-12-19 17:05] bajtos opened #61 "Use a library for parsing JSON"
Few options:
- https://code.google.com/p/google-gson/
- http://square.github.io/retrofit/

[2014-12-21 18:46] #60 closed, assigned to nobody

[2014-12-22 16:16] idoshamun opened #62 "Support Nested Models"
I'm trying to define a model with an array of models inside it with the Android SDK and I'm struggling with a casting problem from HashMap to my model.
Let's take for example a model called Feed that contains an array of Posts (which is a model also) and a link to the next page (a simple string).
When I try to get a Feed object with a custom static method using the `JsonObjectParser`, it throws an

[2015-01-13 17:42] bajtos commented on #62
We should hopefully get this for free once we replace our hand-written JSON parser with a proper library supporting custom annotations - see #61.

[2015-01-13 17:44] bajtos commented on #52
As part of our issue triage process, we are closing items that have been inactive for an extended period of time. Feel free to reopen this issue if you can provide any new information to help us with resolving the issue.

[2015-01-13 17:44] #52 closed

[2015-01-13 17:44] bajtos commented on #40
As part of our issue triage process, we are closing items that have been inactive for an extended period of time. Feel free to reopen this issue if you can reproduce it using the latest version.

[2015-01-13 17:44] #40 closed

[2015-01-13 17:45] bajtos commented on #40
Possibly related: #55

[2015-01-16 15:07] steve-the-edwards opened #63 "Implement Direct Support for Model Relations in SDK Objects"
Can we extend the SDK Model Object wrappers in the Android SDK in order to directly support the Model's methods related to other Models (e.g. one-to-many etc. structures).

See discussion here: https://groups.google.com/forum/#!topic/loopbackjs/cLE8HXEvmPs
and here: https://groups.google.com/forum/#!topic/loopbackjs/pjWjN_zfHmA

[2015-02-18 14:56] newaz opened #64 "No peer certificate error while connection to https"
Hi,
I have configured my loopback app with ssl (https://github.com/strongloop/loopback-example-ssl)

Now, when I try to access any api from android, it gives me the following error.

[code]

any idea on how can solve this?

[2015-02-24 20:49] newaz commented on #64
Hi, Can anyone help me in this please ?

[2015-02-26 13:23] bajtos commented on #64
This is what the documentation says about `SSLPeerUnverifiedException`:

Can you access your SSL server from the browser? Will the browser happily accept the server certificate, or show any warnings?

See also this StackOverflow answer: http://stackoverflow.com/a/18210464/69868

[2015-02-26 15:28] newaz commented on #64
Hi, I noticed that the SSL certificate that was (from my client) given to me is not certified by any root certification provider. That is why when in browser I go to browse it, it says "Not trusted" and then I need to add exception to make it work. So the handshake or validation is done manually to make it work in browser.

Does Android SSL client need a valid certificate which is certified by one

[2015-02-26 23:36] crandmck commented on #58
Updated http://docs.strongloop.com/display/LB/Android+SDK#AndroidSDK-Usersandauthentication
@bajtos PTAL.

[2015-02-27 08:58] bajtos commented on #58
LGTM.

[2015-02-27 08:58] #58 closed

[2015-02-27 10:50] bajtos commented on #64
Yes, exactly.

However, there should be a way how to configure the runtime to accept invalid certificates too. I am not familiar with Java and Android enough to give you the solution right off top of my head, use Google and/or search StackOverflow for that.

[2015-02-27 10:50] #64 closed

[2015-03-03 20:58] newaz commented on #64
Hi,
I have a valid certificate now. I have tested in my pc brower and also in my android browser. it went normally without any exception. But from android client when I try to connect with my server, it gives me the same error :(

Can it be a SNI support problem? Since I have read that loopj async http lib does not use SNI.

[2015-03-04 07:44] bajtos commented on #64
Yes, that's very likely.

[2015-03-05 19:08] brunocascio opened #65 "Object is null"
Reponse from loopback api:

[code]

How to define java class for `user`?

[code]

[code]

**NOTE: ** User model is a custom model, not loopback user.

In java, `user` throws a `NullPointerException`

[2015-03-11 03:08] yoshuacas commented on #56
Hi bajtos,

I noticed that you found this issue last year and tried to follow the discussion you had with the Loopj team, but I don't find a way to go around this issue, is there a way for me to work around it? I noticed you have it as an enhacement when in fact its breaking the sdk ugly.

I'm finding this when I try to PUT on my customized User Model, I'm simply trying to update a user property.

[2015-03-11 05:17] yoshuacas commented on #55
I followed newaz instruction and now I also don't have the error.

[2015-03-11 07:59] bajtos commented on #56
@yoshuacas What exactly is your issue? Can you please provide specific steps how I can reproduce it on my machine?

[2015-03-11 18:14] bajtos commented on #55
Cool, can you submit a pull request with the fix please?

[2015-03-13 09:07] benmarten opened #66 "getPackageInfo() and getSharedPreferences() fails"
I am seeing these errors on Android 5.0:

      03-13 16:04:59.888    2351-2351/com.colibriapps.foodlr E/BeanUtil﹕ getPackageInfo() failed
          java.lang.IllegalAccessException: Cannot access method: android.content.pm.PackageInfo com.strongloop.android.loopback.LocalInstallation.getPackageInfo()
                  at java.lang.reflect.Method.invoke(Native Method)
                  at java.lan

[2015-03-16 12:42] yoshuacas commented on #55
Hi bajtos,

Man you would laugh at my coding skills :) I'm really a newbie.

What I really did for the moment is that I'm using the  com.loopj.android:android-async-http:1.4.4 dependency, and not the latest 1.4.6. That solved my issue.

I'll tell you what I'll do, I'm going to go again to the version 1.4.6 and simply change all the HttpClient uses in your library to use AsyncHttpClient, and test a

[2015-03-16 14:06] bajtos commented on #55
Good, I am glad you managed to find a way how to move forward.

Great!

https://gist.github.com/bajtos/27e3d1545a053d22015b

I should really turn it into a blog post one day.

[2015-03-19 02:43] yoshuacas commented on #55
Miroslav,

I'm having a nightmare trying to compile the library, can you give me some direction? I tried following your DEVELOPING document in the source code, but I cannot make the project compile, gradle keeps throwing errors like:
Unable to find method 'org.gradle.api,internal.project.Projetinternal.getConfigurations()Lorg...../ConfigurationsContainerInternal'

This is what I've done:
I downloa

[2015-03-19 10:46] bajtos commented on #55
I think this may be the root of the problem. I haven't had time to updat the project to a newer Android SDK and Build Tools. IIRC there were incompatible changes made after 0.14, I suspect that's causing you problems.

Gradle should automatically download all dependencies from Maven or jCenter.

Run `npm install` with no parameters in the project root directory. The file [package.json](https://git

[2015-03-19 10:49] bajtos opened #67 "Upgrade build to the latest version of Android Studio and Build Tools"
Our build system is based on pre-1.0 versions of Android Studio and Build Tools. We need to upgrade it to the latest version, otherwise it's super difficult for new developers to contribute to the project - see e.g. https://github.com/strongloop/loopback-sdk-android/issues/55#issuecomment-83272412

[2015-03-19 10:49] bajtos commented on #55
I apologise for the outdated build infrastructure. I have filled a GH issue #67 to fix that, I'll try to get it prioritised for the next sprint.

[2015-03-30 13:14] bajtos commented on #65
This is a duplicate of #62.

[2015-03-30 13:14] #65 closed

[2015-03-30 13:18] bajtos commented on #66
Thank you for reporting the issue, @benmarten. How can I reproduce it locally on my machine, ideally in an emulator running Android 5.0?

[2015-03-30 13:43] benmarten commented on #66
It's happening here, on installation.save(...):

	void saveInstallation(final LocalInstallation installation) {

	    installation.save(new Model.Callback() {

	        @Override
	        public void onSuccess() { ... }

	        @Override
	        public void onError(final Throwable t) { ... }
	    });
	}

We are calling it in our MainActivity, all this code is taken from the android example app:

[2015-04-01 05:17] #67 closed

[2015-04-01 05:52] bajtos commented on #55
@yoshuacas I have upgraded the build infrastructure for Android Studio 1.1 in #69 and updated the instructions in [DEVELOPING.md](https://github.com/strongloop/loopback-sdk-android/blob/master/DEVELOPING.md). Could you please try again?

I took a look at the problem with AsyncHttpClient vs. HttpClient, it turns out we *are* using AsyncHttpClient. The confusion was created by a private `HttpClient`

[2015-04-01 13:14] bajtos commented on #66
I managed to reproduce the issue using version 1.5.1, the version 1.2.0 works correctly for me.

[2015-04-07 16:42] bajtos commented on #66
Timeboxed to 1 story point for Sprint 68.

[2015-04-08 12:58] sebastianhaas opened #71 "Offline synchronization"
Hey!
Are there any plans to add offline synchronization capabilities as described here [1] to the Android/iOS SDKs? I found some google groups threads from 2014 on that topic, but no changes since then. Is this feature already scheduled?

Thank you!

[1] http://docs.strongloop.com/display/public/LB/Synchronization

[2015-04-08 12:59] sebastianhaas commented on #71
If not, is this something which you think could be easily done by looking at the existing browser version? Would you accept PRs on that issue?

[2015-04-14 13:56] bajtos commented on #66
@benmarten From what I found on my side, these messages are just warnings, not affecting application functionality. Is there any particular bug you are seeing in your application that makes you believe it's caused by these access errors?

I have submitted #72 that should remove these warnings.

[2015-04-14 14:44] benmarten commented on #66
no, no issues. i think its just warnings then. thx for the fix... i think this can be closed then.

[2015-04-15 15:33] #66 closed

[2015-04-15 16:09] bajtos commented on #66
I have just released a new version `1.5.2` that should fix these warnings. @benmarten could you please check it out and let me know how it works for you?

[2015-04-16 10:18] benmarten commented on #66
Thanks, all warnings are gone!

[2015-04-16 10:42] bajtos commented on #66
Great, thank you for confirming that my solution works :)

[2015-04-16 11:52] jlgallego commented on #57
I am facing the same problem. I'd like that implemented too. It is possible to execute <code>find</code> filtering on just one field though, but I can not seem to find a proper way of expressing a filter on more than one field, joined with <code>AND</code>, for example.

[2015-04-16 12:04] jlgallego opened #73 "Model's Id not recognized when “idInjection”: false and some property has “id”: true"
Looks like this is a problem on the Android SDK side.

When using the methods <code>findById</code> or <code>findAll</code> on a model with ID column specified, the <code>id</code> field in the object returned is null, making it impossible to perform any operation on the model (destroy, for example).

Related question in SO: <link>http://stackoverflow.com/questions/29499567/models-id-not-recognize

[2015-04-16 15:07] bajtos commented on #57
@jlgallego would you mind contributing this improvement yourself?

[2015-04-16 17:18] ageneau commented on #57
I have these methods implemented in the "fix_flatten" branch in my repository (https://github.com/ageneau/loopback-sdk-android). I haven't had time to rebase it on the latest changes yet. The "find" and "findOne" methods now take optional parameters.

[2015-04-21 11:07] bajtos commented on #71
Hey! We don't have plans for adding offline sync to the Android SDK in the near future, but we will gladly accept PRs implementing this feature!

Beware, the implementation won't be exactly easy. If you decide to use the same design as we have in the javascript/browser version, then you need to:
 - Implement a persistence layer that supports LoopBack PersistedModel API (CRUD + our querying languag

[2015-04-21 15:00] bajtos commented on #73
This is a sort of a known problem, see https://github.com/strongloop/loopback/issues/126

[2015-05-07 09:55] jlgallego commented on #57
Unfortunately, I don't feel I have the time for it right now. Anyway I think @ageneau 's work is worth a look & test.

[2015-05-18 09:50] Rajan opened #74 "'Find Where' in ModelRepository Model."
I'm able to use FindAll but how do I get all values for a particular users for a feature like favorites?

[2015-05-26 15:50] philippdhh commented on #74
Hello,

I think I am struggling with the same problem.

I successfully followed the Android SDK documentation and managed to connect a ListView to a loopback API. Actually I can show all elements of one rest ressource in a list now.

The Android SDK calls the API provided by loopback framework with the URL http://api.wdapp.de/api/bets

This delivers all "bets" to the client.

As the amount of elem

[2015-05-26 19:52] afaucogney commented on #71
Did you ever consider using the Robospice component for doing this ? It would also enable caching pretty well the data repo. I'm not dev crack enough for doing this, but definitively may help in doing this.

[2015-06-01 18:50] afaucogney opened #75 "How send a complex object via the API ?"
How can I implement saving a complex object from Android to the Server.
The object is defined as object type on the server, and on Android is a Hashmap of subObjects, which are itself hashmaps.

[2015-06-02 14:24] bajtos commented on #74
Oh, this is an unintended omission. The class `ModelRepository` should implement a `find` method that would accept the filter object (a hash map) as an argument.

[2015-06-02 14:26] bajtos commented on #74
The hash-map based version is a minimum implementation. A better solution is to provide a criteria builder similar to what is described in https://github.com/strongloop/loopback-sdk-android/issues/74#issuecomment-105574013.

I am afraid this issue is not a high priority for us at the moment. However, if there is any volunteer willing to contribute this feature, then I am more than happy to help hi

[2015-06-02 14:26] bajtos commented on #75
What have you tried so far? What were the results?

[2015-06-10 09:34] afaucogney commented on #57
Does anyone @bajtos or @jlgallego had a look on @ageneau job ? more an more people request this feature that decrease Loopback capabilities by this lack. I'm volunteer to help, but unfortunately not skilled enough to just do it.

[2015-06-10 09:46] Rajan commented on #57
@afaucogney I'm using @ageneau 's find() method and it works with 'filter'. If you wish to get started with solving this, I recommend to debug RestAdapter and com.strongloop.android.remoting.adapters.RestAdapter class. It constructs URL in the end which gets posted to the server. I'm happy to help/contribute.

[2015-06-16 21:02] afaucogney commented on #75
Sorry, I didn"t get notified you answer me....

I get an error : "Unprocessable Entity".
I have a Objet that is composed with subObjects that contains HashMaps members.

I deal with the code until the Object.toMap() return a JSON like file..... but still something wrong. What are the rules to extends Model with it own Object, especially when there is composition pattern.

[2015-06-16 21:17] afaucogney commented on #75
When I logged Obj.toMap().toString(), I get

{wineColor=1, id=Bouche:Equilibre, wineType=1, oenoLevel=1, instruction={what=Pas d information, how=Pas d information, why=Pas d information}, tripTag=Bouche:Equilibre}

When I update  (replace = by : and adding ") this text to {
 "wineColor":1,
 "id":"Bouche:Equilibre",
 "wineType":1,
 "oenoLevel":1,
 "instruction":
  {
    "what":"Pas d information",

[2015-06-17 13:07] fajrulakram opened #77 "FindById Return Not Found"
Hi, I'm beginner in this but I've followed every tutorial there is regarding loopback android sdk. I'm using loopback android sdk ver. 1.5.2 and I've successfully make the login procedure, but I notice that the login doesn't return the user rather it only returns the token. When I confirm it in the explorer it returns the following data :

[code]

so, since I don't get the user data but the user i

[2015-06-17 15:56] afaucogney opened #78 "In the context of LocalInstallation, what is the context of GCM ?"
In the example code provided in the API, there is about gcm.register(...) http://apidocs.strongloop.com/loopback-sdk-android/api/index.html. No glue what it is until I found a blog article https://strongloop.com/strongblog/android-push-notifications-loopback-node-js/

Does localInstallation need Google Cloud Messsage to work ?!

My use case is to get static content at application startup, it can c

[2015-06-19 15:50] afaucogney commented on #75
@bajtos any news or comment to help ?

[2015-06-19 16:11] bajtos commented on #75
The SDK uses [JsonUtil](https://github.com/strongloop/loopback-sdk-android/blob/e2214e7e474c07b115ae4546331e190f1aca3beb/src/main/java/com/strongloop/android/remoting/JsonUtil.java) to convert from Java objects to JSON representation. See this [unit-test](https://github.com/strongloop/loopback-sdk-android/blob/e2214e7e474c07b115ae4546331e190f1aca3beb/src/androidTest/java/com/strongloop/android/rem

[2015-07-15 07:31] ainesophaur commented on #61
+1 for gson. Would love to have this feature

[2015-07-15 09:03] hideya opened #79 "No method to delete a Container?"
Maybe I'm overlooking but I don't find any way to delete a Container.  I'd expect Container class to have remove/delete/destroy method, but I don't find any.  How could I delete a Container (= remove the directory associate with the container)?

[2015-07-15 15:46] raymondfeng commented on #79
The backend has the following REST api to delete a container:

https://github.com/strongloop/loopback-component-storage/blob/master/lib/storage-service.js#L277-L283

It should be mapped to `DELETE /api/containers/<container>`

[2015-07-15 20:16] hideya commented on #79
Thanks, @raymondfeng.  I see.  I guess the SDK just haven't implemented the destroy method that invokes the REST API side.

[2015-07-18 13:50] Slygon commented on #77
Same thing here.
Anyone can help?

[2015-07-22 04:45] hideya opened #80 "How to use the url parameter of loopback.File?"
Could someone tell me what is the intended use of the url parameter of loopback.File?
https://github.com/strongloop/loopback-sdk-android/blob/master/src/main/java/com/strongloop/android/loopback/File.java#L25-L34

Maybe I'm missing something but I don't think it is set by anyone.  I don't find any code that sets `url` nor calls `setUrl()`.  Its public setter also makes me wonder the intended usage

[2015-08-01 06:42] alexxgathp opened #81 "Returning 0 or null values for some properties"
I have a project on GitHub I am building for my Master's degree project. I am new to Android, but have been working with Loopback for nearly a year now, on various other work and personal projects,

There is a strange little bug I can't seem to figure out.
One model is receiving null for two String properties and a zero for an "int" property.
Another model is receiving a zero for an "int" property

[2015-08-18 04:56] alexxgathp commented on #81
It was a cache, typo or a case-sensitive issue for the get or set function. Either way, it resolved itself.

[2015-08-18 04:56] #81 closed

[2015-09-08 14:40] bajtos commented on #80
@hideya I believe this property is set from the JSON response returned by the server, e.g. when calling `fileRepository.upload()`. I believe this url can be used to access the file directly, for example via `<img src="file.url">`.

[2015-09-08 14:40] #80 closed

[2015-09-08 14:43] bajtos commented on #77
You can add `?include=user` to the login URL to get the user data returned too. AFAICT, the SDK is already doing that - see https://github.com/strongloop/loopback-sdk-android/blob/e2214e7e474c07b115ae4546331e190f1aca3beb/src/main/java/com/strongloop/android/loopback/UserRepository.java#L191-L192.

Could you please share a code snippet?

[2015-09-08 14:44] bajtos commented on #77
Also is your `AccessToken` model correctly configured with a `belongsTo User` relation on the server?

[2015-09-08 14:50] bajtos commented on #78
`LocalInstallation` was created specifically for push notifications via Google Cloud Messaging, it represents server-side model `Installation` from the component `loopback-component-push`.

I would personally create my own wrapper around Android's `SharedPreferences` to store this infrequently changed static content. This way you can easily add custom logic on when to update the content and possib

[2015-09-08 14:50] #78 closed

[2015-09-08 14:55] bajtos commented on #79
:+1:

I agree the destroy method should be added to the API.

[2015-10-10 04:43] YsnKsy commented on #73
Same problem on the Angular SDK when “idInjection”: false and “id”: true

[2015-10-10 22:51] vagyriag opened #82 "is it possible to log in a user with username instead of email?"
Didn't find the way, had to implement the *loginUser* method from **UserRepository** and change the `"email"` string in the HashMap params to `"username"`

would be very helpful the option to configure these params for custom user model implementations

[2015-10-16 16:03] hecnabae opened #83 "500 Internal Server Error on save"
Hi, I get this error when I try to save an entity.
Entity :

[2015-11-16 18:48] loay commented on #82
Looking into it. thanks.

[2015-12-02 15:58] firasalkafri commented on #62
Any updates on this?

[2015-12-02 17:19] firasalkafri commented on #61
GSON

[2015-12-30 13:10] Subby4Git commented on #62
Any updates on this? this would be a crucial feature for many apps

[2015-12-30 13:12] Subby4Git commented on #63
Any updates on this? This would be very important for a lot of use cases

[2015-12-30 13:13] Subby4Git commented on #82
Any updates?

[2016-01-16 03:34] jamesw6811 commented on #62
+1 -- This is absolutely essential to our use-case.

[2016-01-16 20:20] jamesw6811 commented on #63
+1 this is essential to our use case

[2016-01-18 11:20] novicesuresh opened #84 "[What about support for Android Marshmallow - API 23]"
Hi All,
I just want to check whether is there any plan to update this library to support Android APIs of 23 version.
As org.apache.http libraries have been deprecated and support is removed in Marshmallow. Also android-async-http does not use apache http client instead it uses different library cz.msebera.android:httpclient. Please refer to this change in following link:
https://github.com/loopj/a

[2016-01-19 07:05] reidlai opened #86 "Best Practice to check server availability before calling any method"
Any how to check server available during creating RestAdaptor or createRepository before make the method call to server?

[2016-01-22 02:51] jmwohl commented on #82
+1

[2016-03-01 18:20] farruxx commented on #83
Dear Contributors, please add more detail to error handlers. When I get some error, it returns 500, even if I add some non-unique value to the table. When I put breakpoints, there is a usefull information, that can be used for processing the error, but by default callback doesn't return it.
For example, in RestAdapter.java:
[code]
resonseBody has has information about what happend, but it didn't u

[2016-03-02 08:39] KirioXX commented on #82
+1

[2016-03-17 19:20] stevendobrien opened #89 "User.save(email, password) returns successful even when no email was successfully sent"
User.save(email, password) is standard model save so there is no check if email was sent out by nodemailer.  I'm always getting ok no matter what.  How to check that nodemailer sent off the registration email?  Also how to regenerate the email later if email could not go through?  User is now saved and it will treat as duplicate.  Most registrations have resend confirmation, how can this be done w

[2016-03-17 19:53] stevendobrien commented on #89
Also User.save(email,password), sometimes creates the user with 200 showing up in logs, but returns failure as socket timeout exception ... This is also problematic in terms of registering the user.

[2016-03-18 06:51] stevendobrien commented on #89
Do we need to contact ibm customer support to get action on any of these?

[2016-03-18 18:57] robinskumar73 opened #90 "Increasing the timeout to prevent socket timeout error"
I am facing socket timeout exception whenever I am trying to upload a little large image or some file through android. **How can I increase timeout to prevent socket timeout exception?**

[2016-03-19 10:31] #89 closed

[2016-03-22 16:12] fvumbaca commented on #90
Hi @robinskumar73! I had the same problem.

The cleanest way I found to increase the timeout of the socket was to extend the ```com.strongloop.android.loopback.RestAdapter``` class and add the method:
[code]
What i use is something like:
[code]
And finally use this child class in place of the old ```RestAdapter``` class.

[2016-04-12 13:42] ismail-s opened #93 "Getting java.lang.NoSuchMethodError exception when calling findAll"
I have been getting the following error when I call the method:
[code]

[code]

In my `build.gradle` file, I have:
[code]

Oddly enough, this has only started happening for me recently. Only thing I can think of having done is upgrading gradle to the latest version.

[2016-04-18 04:27] farlynd opened #94 "how to cancel request from RestAdapter?"
Hi, i want to create auto suggest to my loopback service, the behaviour is every `afterTextChanged` the request fired, but if `onTextChanged`, i want to cancel the request, i know in loopj it will use `cancelRequest()` to do so but i don't have idea how to cancel request from RestAdapter?

any clue will be helpful, thanks!

[2016-04-20 23:49] azubieta commented on #62
Any updates on this topic ? It's there another way of doing the same ?

[2016-05-08 17:51] farruxx opened #95 "Where field value is null or empty"
I want to get categories, where parents are equal some categoryId.
[code]

but, when I trying to get categories with no parent, `parent == null`, it throws `NullPointerException`

[2016-05-09 16:10] saveman71 opened #96 "Issue when running Proguard with the SDK (missing documentation)"
So this will be a little long since I think I have to give some context. I'm writing this for posterity and for anyone who suffers the same problem I will describe.

Since my firsts steps with LoopBack, I experienced intermittent issues with user persistence in my app. The problem would just not make sense: the user could log in correctly, but after some time, the user would have to log in again,

[2016-05-10 12:16] bajtos commented on #96
@saveman71 Hello, thank you for reporting this issue and providing such detailed information! I agree we should at least capture this in our documentation. @crandmck could you PTAL?

It makes me wonder, how do other JSON serializers cope with obfuscation? Would it make sense to switch our implementation to use a 3rd party library instead of maintaining our own `BeanUtil`?

[2016-07-11 21:20] gunjpan opened #98 "Update test cases to be port independent"
Current test cases run server on port 3000, when needed, which crashes other test cases that try to use the same port on same instance causing CI failures.
Goal is to make test server apps port independent.
Parent issue: https://github.com/strongloop-internal/scrum-loopback/issues/932

[2016-07-12 18:33] davidcheung commented on #98
thought it was angular, unassigning myself

[2016-07-20 16:04] jjhesk commented on #62
+ 1 when is this done?!!!!

[2016-07-20 16:06] jjhesk commented on #61
why dont you just copy and consume the functionalities from gson???

[2016-07-20 16:07] jjhesk commented on #94
does it use any features from retrofit??

[2016-07-20 16:20] jjhesk commented on #82
+1

[2016-07-22 07:43] jjhesk commented on #63
I think using the retrofit to keep everything clean and tight. I just created the [repos](https://github.com/HKMOpen/LoopBack-Retrofit-SDK) in here.

[2016-07-22 09:08] jjhesk commented on #75
I would make it one flatten into string then using the string and pass it into the url.

[2016-07-22 09:35] jjhesk opened #101 "null pointer from using RestAdapter"
I got this when I start using the `RestAdapter` at `oncreate` in the activity.

07-22 17:10:27.423 14026-14026/tileview.demo E/AndroidRuntime: FATAL EXCEPTION: main
                                                               Process: tileview.demo, PID: 14026
                                                               java.lang.RuntimeException: Unable to start activity ComponentInfo{****}:

[2016-07-24 12:10] TakwaYousfi opened #102 "can't get current user id from MainActivity"
I am using loopback-sdk-android for my app, I login the user successfully, and I can access the token and the user object in the LoginActivity. But when i try to get the current user id from the following activities (MainActivity or other) it always returns null!
Official documentation says the SDK is supposed to automatically save these in SharedPreferences, put how can I access them from other a

[2016-07-25 15:08] Soufien commented on #102
You should maintain the same contexte for your RestAdapter and make your CustomUser Repository a singleton where you will use it all the long your application life :
Example :

- How to give the RestAdapter the same contexte all the long you application life :
[https://gist.github.com/Soufien/52c1d42399d1e013d02e84efd0c6c8fa](MyApplication.java)

- And how to make you Custom user repository a sing

[2016-07-25 16:46] #102 closed

[2016-07-27 03:30] Amir-61 opened #104 "Integrate Eslint to the repo"
Integrate Eslint to the repo

[2016-08-03 09:07] paranoiasystem opened #105 "loginUser problem"
I'm developing an application that uses the Android SDK of Loopback for make REST requests. I have an issue when i try to login a user, I receive that error

I have create User class

[code]
and UserRepository class
[code]

this is MainActivity
[code]

How I fix this issue?

[2016-08-03 10:47] paranoiasystem commented on #105
I have resolve this problem, I have wrong in the UserRepository class, this is the correct code:

[code]

In the constructor the first parameter is the name of model.

[2016-08-03 10:47] #105 closed

[2016-08-26 14:31] loay commented on #98
Not applicable for Android as it is not using CI. Closing.

[2016-08-26 14:32] #98 closed

[2016-09-15 15:31] paranoiasystem opened #110 "loginUser problem java.lang.NoSuchMethodError: No virtual method post"
I have created a model based on User.
In my java code I have created these classes:
Utenti.java

[code]

UtentiRepository.java

[code]

this is part of code of the activity where I make to login

[code]

But where i try to login I receive this error:

Sorry for my bad English

[2016-10-06 02:48] Sequoia commented on #53
@bajtos is there an Android Champion who can document this? If not, recommend this be closed `wontfix`.

[2016-10-06 08:35] bajtos commented on #53
@loay and @superkhau are the owners of the Android SDK. Honestly, since this was not a priority for us in the last two years, I doubt it will get into a sprint backlog anytime soon. Let's close the issue for now.

[2016-10-06 08:35] #53 closed

[2016-10-12 15:27] loay commented on #55
Hi @newaz @yoshuacas @bajtos
Is this issue still relevant?

[2016-12-07 05:48] superkhau commented on #55
Closing as abandoned. If you are still interested in working on this in the future, just ping and we can reopen it then.

[2016-12-07 05:48] #55 closed

[2016-12-07 08:44] shahriar-mobenga commented on #55
@loay , Not working with android at the moment so can't reayy say if its resolved or not.

[2016-12-27 11:25] karolisg commented on #110
I had a similar issue. Can you show your dependencies list?

[2017-01-05 01:36] TrevorPage commented on #71
@bajtos In the suggestion you make:

Are you suggesting that the Android app could still make use of Loopback's Syncronisation API (such that the Android client "looks like" a client Loopback instance, but actually isn't), or rather it would be better to roll your own sync strategy?

I've stumbled across this issue, and the documentation about the Loopback Offline Syncronisation feature, because I

[2017-01-05 22:13] TrevorPage commented on #71
@bajtos Thank you very much for the detailed guidance.

I have enabled `trackChanges` on one of my models (and also changed the id property to an auto-generated GUID as per the documentation). I then found it incredibly useful to be able to use the StrongLoop API Explorer to see the new endpoints this introduced and experiment with them. I'm ever so impressed by how all this works.

One concern I

[2017-01-05 22:55] TrevorPage commented on #71
Ah! Using Robomongo I now see that the checkpoint just exists as one record. And, if I ever wanted to, it seems I can safely trim the contents of myModels-Change.

I still need to get my head around the meaning of the user access issue. Perhaps it doesn't concern me if I don't use the replication feature of the API.

[2017-01-06 11:09] bajtos commented on #71
I guess if you have many clients that are checking for changes often, then the checkpoint number can eventually overflow int32/int64 limit. The variation you proposed looks sensible to me, as long as the cost of the extra request is not significant.

Yes. Right now, the built-in sync API does not provide any way for filtering the model instances. I.e. your change list will include instances create

[2017-01-08 00:11] Akshitha789 commented on #55
Hi All,

I have tried through com.loopj.asynchttpclient 1.4.4 and 1.4.6 .. works well on Emulator.. But does throws Connect Timeout error from device - HTC Android 4.4.2 API 19. Any help will be greatly appreciated. Thanks in advance.

org.apache.http.conn.ConnectTimeoutException: Connect to /192.164.1.18:8080 timed out
W/System.err:     at org.apache.http.conn.scheme.PlainSocketFactory.connectSoc

[2017-01-14 15:50] TrevorPage commented on #71
@bajtos Thank you again for taking the time to provide the further advice.

Your proposed `myChanges` method will be extremely useful. I have already implemented a new remote method called 'mine' to get all objects that only belong to that owner, accessed at `/myObjects/mine`. So the endpoint you propose above will sit alongside that quite nicely. I believe that the ` if (!currentUserId)` check yo

[2017-01-16 10:58] bajtos commented on #71
I think this is definitely a feature that we would like to eventually implement, but unfortunately it's not on our near-term roadmap.

Agreed - having a client to generate globally-unique ids (like ObjectIDs) and the server letting MongoDB to generate these ids should be equivalent to using LoopBack's GUID generator.

The strict validation is required to reliably apply changes through LoopBack API

[2017-01-25 16:26] crandmck commented on #71
@bajtos Let me try to throw something together and then I'll hand it off to you.

[2017-01-30 21:43] crandmck commented on #71
@bajtos I haven't had much time to work on this.  Could you make a pass through https://github.com/strongloop/loopback.io/wiki/Offline-sync-for-Android-SDK-%5Bworking-draft%5D and remove anything irrelevant, and add anything missing.  Then, I'll make another pass and we can open a PR from there.

[2017-01-31 13:34] bajtos commented on #71
Added to the backlog, it may take a while before I'll have time to work on this. Is the wiki open for editing by people outside of our org? Can e.g. @TrevorPage review and edit that wiki page?

[2017-01-31 20:26] superkhau commented on #71
@bajtos No wiki's are open to public ATM on any project (I found some garbage in the past and cleaned it up before). However, I do suggest in your case to open it up temporarily and lock it down again after.

[2017-01-31 22:04] JoshDavisMP commented on #62
Until the feature gets added, I've found the potential temporary workaround. I haven't thoroughly tested it yet, but it seems to get me at least part of the way there:

[code]

By calling the repository `createObject` method it calls the same method stack used to initialize your model objects. For the first example I'm referencing a different type so I need to get an adapter (reusing the current r

[2017-01-31 22:23] crandmck commented on #71
Actually the loopback.io wiki should be editable by any GH acct, because I have not checked the `Restrict editing to users in teams with push access only` option. @TrevorPage give it a go if you can!

[2017-01-31 22:36] TrevorPage commented on #71
I'd love to contribute to this any way I can. I'll see what I can do. :)

[2017-01-31 23:03] superkhau commented on #71
@TrevorPage The wiki is now open, feel free to edit this repo's wiki or the loopback.io wiki, we can sort out the organization later.

[2017-01-31 23:34] crandmck commented on #71
For this issue, I'd start with https://github.com/strongloop/loopback.io/wiki/Offline-sync-for-Android-SDK-%5Bworking-draft%5D which has most of the pertinent content.  It just needs cleanup and editing.

[2017-03-04 10:45] serjooo opened #115 "Add to Model class another save method to return the response of the object being added"
The way currently the save in Model is implemented is:

`public void save(final VoidCallback callback) {
        invokeMethod(id == null ? "create" : "save", toMap(),
                new Adapter.JsonObjectCallback() {

            @Override
            public void onError(Throwable t) {
                callback.onError(t);
            }

            @Override
            public void onSuccess(JSON

[2017-03-04 12:04] serjooo commented on #110
Some of the issues I saw in your code:
1) First of all in the UtentiRepository constructor you don't need to pass null anymore. If you check the super class only accepts to parameters so you can do this instead:

`super("utenti", Utenti.class);`

also make sure that on your server backend you have named the user object utenti while creating it. Because when you do the login Java invokes the http:/

[2017-03-04 12:05] serjooo commented on #101
How are you creating the RestAdapter can we see some code?

[2017-04-02 19:58] nikooiko commented on #82
Any update for this feature?

[2017-04-09 12:13] serjooo commented on #74
For anyone trying to make where work you only have to do the following:

[code]

[2017-04-09 12:46] serjooo commented on #115
I found a work around to this. What you can do is in your repository implement a method and make it accept an ObjectCallback and then when calling save you would actually create a new VoidCallback and implement its methods and then you would be able to call your ObjectCallback appropriately according to the VoidCallback and return the object. Here is an example to clarify what has been added:

[co

[2017-04-14 13:21] nikooiko opened #116 "ModelRepository.createObject fails with null parameters"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
ModelRepository.**createObject** method should check if parameters equals null and set to a default value otherwise. Old (now deprecated) saveModel method did that.

### Link to sample repo to reproduce issue (if bug)
Will provide if needed.

### Expected result
Model without prop

[2017-04-14 14:04] nikooiko opened #117 "Model.toMap doesn't include superClass properties"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
Here is actual call stack
Model.toMap() > VirtualObject.toMap() > BeanUtil.getProperties(model, false, false);

**`getProperties`** is called with hardcoded false (second param) that doesn't allow the model to include it's parent's properties.

I think that there should be a way t

[2017-12-14 09:34] bajtos opened #123 "Call for maintainers"
IBM/StrongLoop is no longer actively maintaining this project (beyond providing support for our paying customers). If you find this SDK useful and would like to step up as a maintainer, then please leave a comment in this issue.

[2017-12-14 10:54] mekuanent commented on #123
I use this library so much. I would like to maintain this project.

[2017-12-15 09:18] bajtos commented on #123
@mekuanent that's great to hear! This is my last working day before an extended Xmas vacation, I'll follow up on this when I get back in January. 🎄 Happy Holidays! 🎄

[2018-04-06 18:31] dhmlau commented on #77
Closing due to inactivity

[2018-04-06 18:31] #77 closed

[2018-04-06 18:32] dhmlau commented on #56
Closing due to inactivity

[2018-04-06 18:32] #56 closed

[2018-04-06 18:32] dhmlau commented on #54
Closing due to inactivity

[2018-04-06 18:32] #54 closed

[2018-04-06 18:33] dhmlau commented on #49
Closing due to inactivity

[2018-04-06 18:33] #49 closed

[2018-04-24 09:32] atul-singh-bs opened #125 "RestAdapter: HTTP request (string) failed: javax.net.ssl.SSLPeerUnverifiedException: No peer certificate coming in loopback"
# Description/Steps to reproduce
When I'm making any call **"invokeStaticMethod"** then it will show the SSLPeerUnverifiedException. But there is no place in loop android sdk where I'll check for the above param.
RestAdapter: HTTP request (string) failed: javax.net.ssl.SSLPeerUnverifiedException: No peer certificate coming in loopback

# Link to reproduction sandbox

# Expected result
It should  r

[2018-09-25 13:43] #110 closed

[2018-10-08 23:03] dhmlau commented on #104
Closing due to inactivity.

[2018-10-08 23:03] #104 closed

[2018-10-11 14:07] #71 closed

[2019-05-14 07:49] noman3qau commented on #110
Need to add Kotlin proguard rules to solve this problem.

[2020-03-09 10:05] bajtos commented on #123
Hi @mekuanent, sorry for the extremely long silence on our side. Are you still keen to maintain this project?